@import url('https://fonts.googleapis.com/css?family=Baloo+2&display=swap');

body{
	background-color: white;
	width: 100%;
}

div.header{
	display: block;
	text-align: center;
	font-family: 'Baloo 2', cursive;
}

.top{
	display: inline-block;
}

a{
	display: inline-block;
	text-align: center;
	margin: 10px;
	color: white;
	text-decoration: none;
	font-size: 120%;
}
a:hover{
	background-color: #0A3578;
	padding: 10px;
	margin: 0;
}
a.active{
	background-color: #0A3578;
	padding: 10px;
	margin: 0;
	height: 100%;
}

div.navbar{
	background-color: #2C5EAF;
	display: block;
	width: 100%;
	padding: 10px;
	text-align: center;
}
h2{
	text-align: center;
	font-size: 150%;
}
p{
	margin-right: auto;
	margin-left: auto
	margin-top: 30px;
	display: block;
	padding: 3em;
}
div.overview{
	text-align: left;
	display: block;
	padding: 20px;
	background-color: #2C5EAF;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	width: 60%;
	color: white;
}
.section{
	font-size: 300%;
	padding: 25px;
	text-align: center;
	display: block;
	background-color: #2C5EAF;
	width: 60%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
}
.ins{
	display: inline-block;
}
.fields{
	display: block;
	margin-top: 10px;
}
.sign{
	width: 50%;
	display: block;
	background-color: #2C5EAF;
	padding: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#ISUD{
	font-size: 300%
}
