@import url('https://fonts.googleapis.com/css?family=Baloo+2&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

body{
	background-color: white;
}

div.header{
	display: block;
	text-align: center;
	font-family: 'Baloo 2', cursive;
	padding: 15px 20px
	width: 100%;
	background-color: white;
}

.top{
	display: inline-block;
}

a{
	display: inline-block;
	text-align: center;
	color: white;
	text-decoration: none;
	font-size: 120%;
	padding: 0 20px;
	border-right: 3px solid black;
	margin: 0;
}
a:last-child{
	border-right: none;
}
a:hover{
	background-color: #0A3578;
	padding: 10px 20px;
}
a.active{
	background-color: #0A3578;
	padding: 10px 20px;
	margin: 0;
	height: 100%;
	border-bottom: 5px solid white;
}

div.navbar{
	background-color: #2C5EAF;
	display: block;
	width: 100%;
	text-align: center;
	margin: 0;
}
h2{
	text-align: center;
	font-size: 150%;
	color: black;
	font-family: 'Baloo 2', cursive;
}
p{
	margin-right: auto;
	margin-left: auto
	margin-top: 30px;
	display: block;
	padding: 3em;
}
div.overview{
	text-align: left;
	display: block;
	padding: 20px;
	background-color: #2C5EAF;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	width: 60%;
	color: white;
	border-radius: 6px;
	border: 2px solid black;
	font-family: 'Ubuntu', sans-serif;
}
div.text{
	text-align: center;
	padding: 10px 25px;
	background-color: #5582BF;
	border-radius: 8px;
	border: 2px solid black;
}
.section{
	font-size: 300%;
	padding: 25px;
	text-align: center;
	display: block;
	background-color: #2C5EAF;
	width: 60%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
}
.ins{
	display: inline-block;
}
.fields{
	display: block;
	margin-top: 10px;
}
.sign{
	width: 50%;
	display: block;
	background-color: #2C5EAF;
	padding: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#ISUD{
	font-size: 300%
}
