@import url('https://fonts.googleapis.com/css?family=Baloo+2&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inria+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body{
	background-color: #4A5259;
	margin: 0;
	padding: 0;
	margin-bottom: 40px;
}
input{
	border-radius: 3px;
	border: none;
	font-size: 110%;
	width: 80%;
	padding: 0;
}
div.header{
	display: block;
	text-align: center;
	font-family: 'Baloo 2', cursive;
	padding: 15px 0;
	width: 100%;
	background-color: #5582BF;
	border-bottom: 2px solid black;

}

.top{
	display: inline-block;
}

a{
	display: inline-block;
	color: white;
	text-decoration: none;
	font-size: 120%;
	padding: 0 20px;
	border-right: 3px solid black;
	margin: 0;
	height: 100%;
	margin-bottom: -15px;
	padding-bottom: 15px;
	margin-top: -12px;
	padding-top: 12px;
}
a:last-child{
	border-right: none;
}
a:hover{
	background-color: #0A3578;
	padding: 10px 20px;
	margin-left: -3.5px;
}
a.active{
	background-color: #0A3578;
	padding: 10px 20px;
	margin: 0;
	height: 100%;
	border-bottom: 5px solid white;
	font-weight: bold;
	margin-left: -3.5px;
}
ul{
	background-color: #2C5EAF;
	display: inline-block;
	width: 100%;
	text-align: center;
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	padding: 0;
}

h2{
	text-align: center;
	font-size: 150%;
	color: black;
	font-family: 'Baloo 2', cursive;
}

p{
	margin: 15px;
}
h3{
	margin: 15px;
	font-weight: bold;
	text-decoration: underline;
}
li{
	margin: 15px;
	display: block;
}
li.navitems{
	display: inline;
	margin: 0;
}
p.homep{
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
	display: block;
	padding: 3em;
}
div.overview{
	text-align: left;
	display: block;
	padding: 20px;
	background-color: #2C5EAF;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	width: 60%;
	color: white;
	border-radius: 6px;
	font-family: 'Ubuntu', sans-serif;
	box-shadow: 5px 5px 5px #171E23;
}
div.overview:last-child{
	margin-bottom: 30px;
}
div.text{
	text-align: center;
	padding: 10px 25px;
	background-color: #5582BF;
	border-radius: 8px;
	border: 2px solid black;
}

.section{
	font-size: 300%;
	padding: 10px 20px;
	text-align: center;
	display: block;
	background-color: #2C5EAF;
	width: 60%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	border: 2px solid black;
	border-radius: 4px;
	color: white;
	font-family: 'Oxygen', sans-serif;
	font-weight: bold;
	text-shadow: 5px 5px 5px #171E23;
	outline: none;
}
.information{
	width: 56.5%;
	padding: 20px;
	display: none;
	margin: 5px auto;
	background-color: #5582BF;
	border-radius: 4px;
	border: 2px solid black;
	font-family: 'Inria Sans', sans-serif;
}
.section:hover, .activesec{
	border-color: white;
}
.ins{
	display: block;
}
.fields{
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: 'Muli', sans-serif;
	font-weight: bold;
}
.sign{
	width: 50%;
	display: block;
	background-color: #2C5EAF;
	padding: 10px 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 3px 3px 3px #171E23;
	border: 2px solid black;
}

.inner{
	padding: 5px 5px;
	background-color: #5582BF;
	border-radius: 4px;
	width: 40%;
	margin-left: 5px;
	margin-right: auto;
	margin-top: 10px;
	float: left;
}
#ISUD{
	font-size: 300%
}
#logo{
	height: 75px;
	width: 75px;
	margin-top: 50px;
}
.display{
	display: inline-block;
	width: 18%;
	height: 18%;
	box-shadow: 5px 5px 5px #171E23;
	border: 3px solid white;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 30px;
}
.display:first-child{
	margin-left: auto;
}
.display:last-child{
	margin-right: auto;
}

div#images{
	margin: 0 auto;
	display: block;
	text-align: center;
	padding: 0;
}
#abt{
	font-style: italic;
	font-weight: bold;
	font-size: 300%;
	padding: 5px 10px;
	color: black;
	background-color: #5582BF;
	border-radius: 8px;
	box-shadow: 5px 5px 5px #171E23;
	width: 80%;
	margin: 20px auto;
}
#clip{
	height: 30%;
	width: 30%;
	float: right;
	margin-right: 20px;
}
#submit{
	margin: 8px auto;
	display: block;
	padding: 10px 15px;
	width: 51%;
	background-color: #2C5EAF;
	border: 2px solid black;
	font-size: 150%;
	font-family: 'Muli', sans-serif;
	color: white;
	box-shadow: 3px 3px 3px #171E23;
}
#submit:hover{
	background-color: #0A3578
}
.pagetitle{
	display: block;
	font-size: 200%;
	color: black;
	font-style: italic;
	
	margin: 8px auto;
	padding: 10px 15px;
	border-radius: 4px;
	border: 2px solid black;
	background-color: #5582BF;
	width: 50%;
	box-shadow: 3px 3px 3px #171E23;

}
#link{
	font-size: 100%;
	padding: 0;
	margin: 0;
	
}

@media screen and (min-width: 300px) and (max-width: 699px){
	div.header{
		width: 100%;
		font-size: 35%;
		margin: 0;
		padding: 0;
	}
	#logo{
		width: 55px;
		height: 55px;
	}
	nav{
		width: 100%;
	}
	a{
		font-size: 80%;
	}
	.sign{
		width: 75%;
	}
	.inner{
		width: 60%;
	}
	.section, .information{
		width: 60%;
	}
	.section{
		font-size: 150%;
	}
}
@media screen and (min-width: 700px) and (max-width: 800px){

	div.header{
		width: 100%;
		font-size: 60%;
		margin: 0;
		padding: 0;
	}
	#logo{
		width: 55px;
		height: 55px;
	}
	.nav{
		width: 700px;
	}
	a{
		font-size: 80%;
	}
	.sign{
		width: 650px;
	}
	.inner{
		width: 60%;
	}
	.section, .information{
		width: 80%;
	}
	.section{
		font-size: 170%;
	}
}
